.app-container {
  text-align: center;
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 4rem;
  margin: 0;
}

.destroy-button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.destroy-button:hover {
  background-color: #d62828;
}

.coins {
  margin-top: 20px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.coins span {
  font-size: 2rem;
  margin-right: 10px;
}
